.home-content-page-about{
  display: flex;
  flex-direction: row;
  overflow: auto;
}
.home-info{
  flex: 1;
  max-height: 400px;
}
.home image{
  flex: 1;
  max-height: 400px;
}
@media (max-width: 720px){
  .home-content-page-about {
    display: flex;
    flex-direction: row;

    justify-content: space-between;
    align-items: center;
  }
  .home-info{
    flex: 1;
    max-height: 250px;
  }
  .home image{
    flex: 1;
    max-height: 250px;
  }
}
@media (max-width: 520px) {
  .home-content-page-about {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  .home-info {
    flex: 1;
    max-height: 350px;
    margin-top: 20px; /* يمكن تعديل هذا الرقم حسب المسافة المطلوبة */
  }
  .home-image {
    margin-bottom: 100px;
    flex: 1;
    max-height: 250px;
  }
}


