.home {
  background-color: var(--body-color);
  color: var(--text-color);
  padding: 80px 8% 0px;
  height: 100vh;
  width: auto;
}
.home-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: left;
  /* overflow: hidden; */

}
.home-info {
  /* max-width: 630px; */
  color: var(--title-color);
  margin-bottom: 10px;
}
.home-info span {
  color: var(--first-color);
}
.home-info-1 {
  margin-bottom: 10px;
}
.home-info-name {
  margin-bottom: 10px;
  text-transform: uppercase;
  color: var(--first-color);
  font-weight: var(--font-medium);
}
.home-info-title {
  margin-bottom: 30px;
}

.home-info-desc {
  font-size: 16px;
  margin-bottom: 15px 0 30px;
  /* word-spacing: 10px; */
}

/* ================= icon-group  ====================== */
.icon-group {
  display: flex;
  column-gap: 1.25rem;
  margin: 20px 0 30px 0;
}

.icon-group .iconGroupLink {
  display: flex;
  background-color: var(--first-color-alt);
  padding: 0.5rem;
  color: var(--title-color);
  font-size: 1.5rem;
  border-radius: 0 7px 0 7px;
}


/* ================= home image  ====================== */
.home-image {
  position: relative;
  width: 450px;
  height: 450px;
  animation: mover 1s infinite alternate;
}

.home__blob {
  fill: var(--first-color);
  filter: drop-shadow(0 12px 12px hsla(var(--hue), 100%, 40%, 0.2));
}
.home__image#imageBlob img {
  max-width: 100%;
  height: auto;
}
/* ============== Media Query=============== */
@media (max-width: 520px) {
  .home-content-page-about {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  .home-info {
    flex: 1;
    max-height: 350px;
    margin-top: 20px;
    padding-left: 10px;
  }
  .home-image {
    margin-bottom: 100px;
    flex: 1;
    max-height: 350px;
  }
}

/* =================key frams===================== */

  
  @keyframes mover {
    0% {
      transform: translateY(0);
    }
   
    100% {
      transform: translateY(10px);
    }
  }
  